h1{
    color: red;
    font-size: 30px;
}
.heading{
    color: red;
    font-style: italic;
    font-size:larger;
}
.ol{
    line-height: 40px;
    color: brown;
}
#li{
    text-decoration:underline;
    font-style: italic;
}
.ul{
    color: brown;
    letter-spacing: 5px;
}
p{
    color: darkolivegreen;
}
a:link{
    color:red;
    text-decoration: none;
    background-color: yellow;
    font-style: italic;
}
a{
    color: red;
    font-weight: bold;
}